Source: ros-rolling-kinematics-interface
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gmock <!nocheck>, ros-rolling-backward-ros, ros-rolling-pluginlib <!nocheck>, ros-rolling-rclcpp-lifecycle, ros-rolling-ros2-control-cmake, ros-rolling-ros2-control-test-assets <!nocheck>, ros-rolling-ros-workspace
Homepage: https://control.ros.org
Standards-Version: 3.9.2

Package: ros-rolling-kinematics-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-backward-ros, ros-rolling-rclcpp-lifecycle, ros-rolling-ros-workspace
Description: Kinematics interface for ROS 2 control
