Source: ros-jazzy-kinematics-interface
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gmock <!nocheck>, ros-jazzy-backward-ros, ros-jazzy-pluginlib <!nocheck>, ros-jazzy-rclcpp-lifecycle, ros-jazzy-ros2-control-cmake, ros-jazzy-ros2-control-test-assets <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://control.ros.org
Standards-Version: 3.9.2

Package: ros-jazzy-kinematics-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-jazzy-backward-ros, ros-jazzy-rclcpp-lifecycle, ros-jazzy-ros-workspace
Description: Kinematics interface for ROS 2 control
